@font-face
{
    font-family: glossy;

    src: url(../fonts/GlossyDisplay-RegularExtendedItalic.otf);
}

*
{
    font-weight: normal;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    /*width: 100vw;
	height: 100vh;*/
    overflow-x: hidden;

    padding: 10pt 15pt;
}

h1
{
    font-size: 35pt;
}

a
{
    text-decoration: none;

    color: black;
}

a:hover
{
    text-decoration: underline;

    text-decoration-style: wavy;
}

.header
{
    padding: 0 15pt;

    background: white;
}

.name
{
    font-family: helvetica neue;
    font-weight: 500;

    display: flex;

    justify-content: space-between;
}

#smallName
{
    display: none;
}

#break
{
    display: none;
}

.tagLine
{
    font-family: glossy;
}

.projects
{
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: space-between;
}

.col
{
    padding: 15pt 15pt;

    flex: 1;
}

.project
{
    font-family: glossy;
    font-size: 35pt;
    font-weight: 400;

    padding: 10pt 0;
}




.coverImg
{
    width: 100%;

    transition: all .25s;
}
.coverImg:hover
{
    cursor: pointer;

    -webkit-filter: hue-rotate(120deg); /* Safari */
            filter: hue-rotate(120deg);
    -webkit-filter: contrast(80%)hue-rotate(120deg);/* Safari */
            filter: contrast(80%)hue-rotate(120deg);
}

@media only screen and (max-width: 600px)
{
    body
    {
        overflow-x: hidden;

        padding: 0;
    }

    h1
    {
        font-size: 15pt;
    }

    .projectTitle
    {
        font-size: 15pt;
    }

    .header
    {
        width: 100vw;
        padding: 10pt 20pt 5pt 10pt;
    }

    .projects
    {
        display: block;
    }

    .project
    {
        padding: 0;
        padding-bottom: 10pt;
    }

    .col
    {
        padding: 10pt 10pt 0 10pt;
    }

    .colLast
    {
        padding-top: 0;
    }

    .tagLine
    {
        display: none;
    }
}

@media only screen and (max-width: 650px)
{
    #name
    {
        display: none;
    }

    #smallName
    {
        display: block;
    }

    #break
    {
        display: initial;
    }
}

@media only screen and (max-width: 900px) and (min-width: 600px)
{
    h1
    {
        font-size: 20pt;
    }

    .projectTitle
    {
        font-size: 20pt;
    }

    .row
    {
        display: block;
    }

    .projects
    {
        display: block;
    }

    .colLast
    {
        padding-top: 0;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 900px)
{
    .projectTitle
    {
        font-size: 25pt;
    }

    h1
    {
        font-size: 25pt;
    }
}
